/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
    
}
span{
    font-size: 16px;
    font-weight: bolder;
    color:#ffffff;
    text-align: center;
    padding-left:50px ;
    padding-right: 50px;
    margin-left: 50px;
}
h3{
    color: #fff;
    font-style: serif;
    font-weight: 1000;
    padding-top: 0px;
    padding-bottom: 25px;
    position: relative;


}
h1{
    font-size: 36px;
    font-weight: bolder;
    color:#ffffff;
    text-align: center;
}
h2{
    font-size: 40px;
    text-align:center;
    font-weight: 1000;
    margin:10px 0;
    color: #fff;
    margin-left:5%;
    margin-right:5%;
}
h6{
    font-size: 36px;
    text-align:left;
    font-weight: 600;
    padding-left: 65px;
    color: #ff0000;
  
}
h4{
    color:#fff;
    font-size: 20px;
    padding: 10px;
    margin-left:5%;
    margin-right:5%;
    font-style: serif;
}
.line {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin-bottom: 16px;
  }
  .lineUp {
    animation: 3s anim-lineUp ease-out;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0.6;
    }
    50% {
      opacity: 0.8;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  

.animate-charcter
{
   text-transform: uppercase;
   right: 50%;
   left:50%;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  display: inline-block;
  font-size: 80px;
  font-weight: 1000;
}
.animate-charcter2
{
   text-transform: uppercase;
   right:50%;
   left:50%;
  background-image: linear-gradient(
    -225deg,
    #ffffff 0%,
    #ff4a4a 29%,
    #ff4242 67%,
    #ff0303 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  text-align: center;
  color: #fff;
  font: serif;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 10s linear infinite;
  display: inline-block;
      font-size: 80px;
      font-weight: bolder;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.subheader {
    position: relative;
    height:30vh; /* Set header height to viewport height */
    overflow: hidden;
 
}
.subheader::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('bg_sent.jpeg'); /* Set your initial background image */
    background-size: cover;
    background-repeat: no-repeat;
    animation: slideBackground 15s infinite alternate; /* Adjust animation duration as needed */
}

.header {
    position: relative;
    height:90vh; /* Set header height to viewport height */
    overflow: hidden; /* Hide overflowing background image */
}


.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('bg_sent.jpeg'); /* Set your initial background image */
    background-size: cover;
    background-repeat: no-repeat;
     transition: all 0.3s ease;
    animation: slideBackground 15s infinite alternate; /* Adjust animation duration as needed */
}

@keyframes slideBackground {
    0% {
        background-image: linear-gradient(rgba(2, 7, 30, 0.7), rgba(4, 9, 30, 0.5)), url('bg_sent.jpeg') /* Initial background image */
    }
    50% {
        background-image:linear-gradient(rgba(2, 7, 30, 0.7), rgba(4, 9, 30, 0.5)), url('fkdc6.jpg')/* Next background image */
    }
    100% {
        background-image:linear-gradient(rgba(2, 7, 30, 0.7), rgba(4, 9, 30, 0.5)), url('photo_2023-09-10_19-56-07.jpg')/* Back to the initial image */
    }
}
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 100px;
    height: 100px;
    position: relative;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 24px;
    position: relative;
    background-color: #44107a;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 1s;
}

.nav-links ul li:hover::after {
    width: 50%;
}
subnav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

subnav img {
    width: 100px;
    height: 100px;
    position: relative;
}

.subnav-links {
    flex: 1;
    text-align: right;
}

.subnav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 2px 24px;
    position: relative;
    background-color: #44107a;
}

.subnav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.subnav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 1s;
}

.subnav-links ul li:hover::after {
    width: 50%;
}

.hero-btn{
    display:inline-block;
    text-decoration: none;
    color:#fff;
    border: 1px soid #fff;
    padding:1px 34px;
    font-size:12px;
    background: transparent;
    position: relative;
    cursor:pointer;
}
.blog img{
    display: block;
  margin-left: auto;
  margin-right: auto;
    width: 1000;
    height: 500px;
}
.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 40%;
    margin-left: 55%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.text-box h1 {
    font-size: 62px;
   
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}


nav .fa{
    display:none;
    position: relative;

}
subnav .fa{
    display:none;
    position: relative;

}

body {
    background-color:black;
    }
 
/*---flagships---*/
.flagships{
    width:80%;
    margin:auto;
    text-align:center;
    padding-top:100px;
    
}


.row{
    margin-top:5%;
    display:flex;
    justify-content:space-between;
}
.flagship-col{
    flex-basis: 35%;
    background:rgb(195, 8, 8);
    border-radius:10px;
    margin-bottom:5%;
    margin-left: 70px;
    margin-right: 70px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    box-sizing:content-box;
    transition:1s;
}

.flagship-col:hover{
    box-shadow:0 0 20px 10px rgba(102, 33, 14, 0.752);
}
@media(max-width:700px){
    .row{
        flex-direction:column;
    }
}
.column {
    width: 100%;
  }
  
  @media (min-width: 600px) {
    .column {
      width: 50%;
    }
  }

  @media (min-width: 600px) {
    main {
      flex-wrap: nowrap;
    }

    div {
      flex-basis: 33%;
    }
  }
/*---competition ---*/
.competition {
    width:80%;
    margin:auto;
    text-align:center;
    padding-top: 50px;
}
.competition-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.competition-col img{
    width:100%;
    display:block;
}
.layer{
    background:transparent;
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    transition: 0.5s;
}
.layer:hover{
    background:rgba(226,0,0,0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position:absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity:1;
}



/* CTA styles */
.cta {
    text-align: center;
    padding: 50px;
    background-color: #f1530f;
    color: white;
}

.cta h1 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.hero-btn:hover {
    background-color: #f1c40f;
}

/* Footer styles */
.footer {
    width: 100%;
    position: relative;
    text-align: center;
    padding: 0px;
    background-color: #333;
    color: white;
}

.icons {
    margin-top: 20px;
}

.fa {
    margin: 0 10px;
    color: white;
    font-size: 20px;
}

/* Add styles for the round button */
.round-button {
    position: fixed;
    top: 4vh;
    right: 4vb;
    background-color: #333;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    z-index: 1; /* Make sure the button is above other elements */
}




/* Dropdown styles */


.dropdown-content {
    display: none;
    position: fixed;
    top: 70px;
    right: 0;
    background-color: #333;
    min-width: 150px;
    padding: 10px;
    z-index: 2; /* Make sure the dropdown is above other elements */
}



.dropdown-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.dropdown-content li {
    padding: 8px;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #444;
}

.show {
    display: block;
}
.heading{
    margin-top: 5px;
    text-align: center;
    font-size: 100px;
    text-align: center;
}
.sub-heading{
    text-align: center;
    color: wheat;
    font-size: 40px;
}
.backgound{
    opacity: 100%;
}
.div4{
    float: left;
}

/*Gallery*/
.img-gal{
    width: 90%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    grid-gap: 30px;
}

.img-gal img{
    width: 100%;
    cursor: pointer;
}

.full-img{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.full-img img{
    width: 90%;
    max-width: 900px;
}

.full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

@media (max-width: 500px) {
    .loader img{
        margin-left: 1%;
        margin-top: 60%;
    }
    .nav-links {
      flex-direction: column;
    }
    .heading{
        text-align: center;
        padding: 10%,10%;
    }
  }
  * {box-sizing:border-box}
  

  /* Slideshow container */
  .slideshow-container {
    width: 70%;
    height: 700px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select:contain;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
@media screen and (max-width: 600px) {
  .nav {
    float: none;
    width: 100%;
  }
  span{
    font-size: 8px;
    font-weight: bolder;
    color:#ffffff;
    text-align: center;
    padding-left:50px ;
    padding-right: 50px;
    margin-left: 50px;
}
h3{
    font-size:25px;
    color: #fff;
    font-weight: 1000;
    padding-top: 0px;
    padding-bottom: 25px;
    text-align:left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;

}
h1{
    font-size: 36px;
    font-weight: bolder;
    color:#ffffff;
    text-align: center;
}
h2{
    font-size: 20px;
    text-align:center;
    font-weight: 1000;
    margin:10px 0;
    color: #fff;
    margin-left:5%;
    margin-right:5%;
}
h6{
    font-size: 26px;
    text-align:left;
    font-weight: 600;
    padding-left: 65px;
    color: #ff0000;
  
}
h4{
    color:#fff;
    font-size: 16px;
    padding: 10px;
    font-family: "Times New Roman", Times, serif;
    margin-left:5%;
    margin-right:5%;
}
.animate-charcter
{
   text-transform: uppercase;
   left: 50%;
   right: 50%;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  display: inline-block;
      font-size: 40px;
      font-weight: 1000;
    
}
.animate-charcter2
{
   text-transform: uppercase;
   right: 50%;
   left:50%;
  background-image: linear-gradient(
    -225deg,
    #ffffff 0%,
    #ff4a4a 29%,
    #ff4242 67%,
    #ff0303 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 6s linear infinite;
  display: inline-block;
      font-size: 35px;
      font-weight: 2000;
      text-align: center;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.header1 {
    height: 40px;
    width: 100%;
    background-color: black;
    background-position: center;
    background-size: cover;
    position: relative;
}

.slideshow-container {
    width: 90%;
    height: 600px;
    position: relative;
    
  }
  

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 15%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: contain;
}
.blog img{
    width: 320px;
    height: 300px;
}
.blog .slideshow-container{
    width: 320px;
    height: 300px;
}

.flagship-col {
    flex-basis: 35%;
    background: rgb(195, 8, 8);
    border-radius: 10px;
    margin-bottom: 5%;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    box-sizing: content-box;
    transition: 1s;
}

.flagships {
    width: 30%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}

.competition {
    width: 60%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.competition-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.competition-col img {
    width: 100%;
    display: block;
}

.cta {
    text-align: center;
    padding: 50px;
    background-color: #f1530f;
    color: white;
}

.cta h1 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 20px;
}

.hero-btn {
    display: inline-block;
    font-size: 12px;
    margin-top: 0px;
    padding: 5px 10px;
    border: 1px solid blue;
    background-color: rgb(0, 37, 117);
    opacity: 0.6;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: none;
    border-radius: 5px;
}
.img-gal img{
    width: 300px;
    height:200px;
    cursor: pointer;
}
.img-gal{
    width: 90%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    grid-gap: 30px;
}
.text-box h1{
    font-size:20px;
}
.subnav-links ul li{
    display:block;
}
.subnav-links{
    position:absolute;
    background: #44107a;;
    height:100vh;
    width:200px;
    top:0;
    right:-200px;
    text-align:left;
    z-index:2;
    transition:1s;
}
subnav .fa{
    display:block;
    color:#fff;
    font-size:22px;
    cursor:pointer;

}
.subnav-links ul{
    padding:5px;
}
subnav img {
    width: 40px;
    height: 40px;
    position: relative;
}
.subnav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: 1000;
}
.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 1000;
}

.nav-links ul li{
    display:block;
}
.nav-links{
    position:absolute;
    background: #44107a;;
    height:100vh;
    width:200px;
    top:0;
    right:-200px;
    text-align:left;
    z-index:2;
    transition:1s;
}
nav .fa{
    display:block;
    color:#fff;
    font-size:20px;
    cursor:pointer;

}
.nav-links ul{
    padding:5px;

}
nav img {
    width: 50px;
    height: 50px;
    position: relative;
}

.subheader {
    position: relative;
    height:30vh; /* Set header height to viewport height */
    overflow: hidden;
 
}
.subheader::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('bg_sent.jpeg'); /* Set your initial background image */
    background-size: cover;
    background-repeat: no-repeat;
    animation: slideBackground 15s infinite alternate; /* Adjust animation duration as needed */
}

.header {
    position: relative;
    height:45vh; /* Set header height to viewport height */
    overflow: hidden; /* Hide overflowing background image */
}


.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('bg_sent.jpeg'); /* Set your initial background image */
    background-size: cover;
    background-repeat: no-repeat;
    animation: slideBackground 15s infinite alternate; /* Adjust animation duration as needed */
}
}








